@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,300;1,400;1,500&display=swap');



/* Basic Styling */
:root {
    --primary: #212F3D;
    --secondary: #637892;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--secondary);
}

p {
    line-height: 30px;
    font-size: 15px;
    color: var(--secondary);
}

.container-custom {
    max-width: 1650px;
    width: 100%;
    padding: 0 .75rem;
    margin-left: auto;
    margin-right: auto;
}

.bg-cyan {
    background-color: #E4F5FE;
}

.p-section {
    padding-top: 80px;
    padding-bottom: 90px;
}

.pt-section {
    padding-top: 80px;
}

.pb-title {
    padding-bottom: 50px;
}

.section-title {
    font-weight: bold;
    font-size: 52px;
    color: var(--primary);
    line-height: 66px;
    padding-bottom: 20px;

}

.btn-outline {
    color: var(--primary);
    padding: 12px 15px;
    border: 2px solid var(--primary);
    border-radius: 7px;
}

.btn-outline:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-filled {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary);
    padding: 12px 53px;
    border-radius: 10px;
}
.btn-filled:hover {
    color: #dcdcdc;
}




/* Header area */
.navbar .container-custom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    padding: 0 10px;
}
.nav-item a.nav-link {
    color: var(--secondary);
    font-weight: 500;
    font-size: 18px;
}

.nav-item a.nav-link:hover {
    color: var(--primary) !important;
}

/* Hero area */
.hero.bg-cyan {
    border-radius: 38px;
}

.hero-text .site-title {
    font-size: 68px;
    font-weight: 900; 
    line-height: 92px;
    color: var(--primary);
    margin-bottom: 30px;
}

.hero-text .site-desc {
    font-size: 18px;
    line-height: 37px;
    color: var(--secondary);
    margin-bottom: 40px;
}

.hero-btns p,
.hero-btns p a {
    font-weight: 600;
    font-size: 18px;
    color: var(--primary);
}

.hero-btns p a:hover {
    color: #000;
}

/* Stat area */
.stats {
    padding-top: 90px;
    padding-bottom: 120px;
}

.stats-num {
    color: var(--primary);
    font-size: 48px;
    font-weight: bold;
    position: relative;
}

.stats-title {
    color: var(--primary);
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}

.stats-num::before {
    position: absolute;
    content: url(../images/blob1.svg);
    z-index: -1;
    left: -40px;
    top: -30px;
}

.single-stats:nth-child(1) .stats-num::before {
    content: url(../images/blob1.svg);
}

.single-stats:nth-child(2) .stats-num::before {
    content: url(../images/blob2.svg);
}

.single-stats:nth-child(3) .stats-num::before {
    content: url(../images/blob3.svg);
}

/* About Area */
.about {
    padding-bottom: 175px;
}

.author {
    position: relative;
}

.author img {
    margin-left: 100px;
    border: 10px solid #fff;
    border-radius: 50px;
}

.author::before {
    content: "";
    position: absolute;
    background-color: #E4F5FE;
    height: 130%;
    width: 360px;
    top: -15%;
    border-radius: 50px;
    z-index: -9;
}

.social .list-inline-item {
    margin-right: 25px;
}

.social .list-inline-item:last-child {
    margin-right: 0;
}

.social .list-inline-item a {
    color: var(--primary);
    font-size: 20px;
}

.social .list-inline-item a:hover {
    color: var(--secondary);
}

/* Testimonail Area  */
.control {
    font-weight: 600;
    font-size: 15px;
}

.next, .prev {
    padding: 17px 28px;
    background-color: #fff;
    color: var(--primary);
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 11px rgba(190   233, 255, 0.25);
}

.prev {
    border-radius: 8px 0 0 8px;
}

.next {
    border-radius: 0 8px 8px 0;
}

.next:hover, .prev:hover {
    background-color: var(--primary);
    color: #fff;
}

.control svg {
    width: 22px;
}